%h1 Listing likes

%table
  %tr
    %th User
    %th Related user
    %th Is match
    %th
    %th
    %th

  - @likes.each do |like|
    %tr
      %td= like.user_id
      %td= like.related_user_id
      %td= like.is_match
      %td= link_to 'Show', [like.user, like]
      %td= link_to 'Edit', edit_user_like_path(like.user, like)
      %td= link_to 'Destroy', [like.user, like], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Like', new_user_like_path(params[:user_id])
