%h1 Listing users

%table
  %tr
    %th Fb
    %th Oauth token
    %th Oauth expires at
    %th Email
    %th Bio
    %th Img url
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.fb_id
      %td= user.oauth_token
      %td= user.oauth_expires_at
      %td= user.email
      %td= user.bio
      %td= user.img_url
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
